.h1 {
    color: yellow;
}

.subtitle {
    color: yellow;
}

.title {
    color: yellow;
}

.img{
        width: 160px;
    
    border-radius: 8px;
    display:block
}

.li{
    .li{
    display: flex
;
    flex-direction: column;
    align-items: center;
}
.ul{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

 
}
}