 body {
    background-color: black;
}
 .div{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:gold;
 }

.title2 {
  border: 2px solid yellow;
  color: yellow;
  padding: 8px; 
  display: inline-block;
}

.title {
  border: 2px solid aliceblue;
  color: aliceblue;
  padding: 8px; 
  display: inline-block;
}

.subtitle2  {
    border-bottom: 2px solid grey;
}