 body {
    background-color: var(--bg-color);
}
.ul{
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.ul{
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
 



.subtitle{
font-size: 48px;
    color: #e3d9d9;
}
 
.img{
        width: 160px;
    
    border-radius: 8px;
    display:block
}

.li{
    display: flex
;
    flex-direction: column;
    align-items: center;
}

 


.subtitle {
  font-size: 52px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  margin: 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
  background: linear-gradient(90deg, #ffcc00, #ff0066);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  margin-top: 8px;
  border-radius: 2px;
  background: linear-gradient(90deg, #ffcc00, #ff0066);
}



.card{
     position: relative;
  width: 160px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.card .title{
    
  position: absolute;
bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 12px;
  background: rgba(94, 94, 94, 0.6); 
  padding: 5px ;
  border-radius: 8px;
  text-align: center;
 border-radius: 0 0 8px 8px;
  text-align: center;
  width: 100%; 
  box-sizing: border-box; 
  

   

}
.buttonprev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info{

}
